<h1 class="{{{ styles.logo }}}">
    Hello {{ name }}
    <br>
    <span class="something"></span>
    <span class="something"></span>
    <span class="something"></span>
    <span class="something"></span>
    <span class="something"></span>
    <span class="something"></span>
    <span class="something"></span>
    <span class="something"></span>
</h1>